<template>
  <div class="modal">
      <div class="modal__content">
            <div class="modal__header">
                <slot name="header" >
                    <h2>{{title}}</h2>
                </slot>
                <button type="button" class="close-btn" @click="$emit('close')"> X </button>
            </div>
            <slot />
      </div>
  </div>
</template>

<script>
export default {
    props:{
        title:{
            type: String,
            default: ""
        }
    }
}
</script>

<style>

.modal{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    display:flex;
    justify-content: center;
    align-items: center;
}



.modal__header {
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px; */
    padding-bottom: 5px;
    border-bottom: 1px solid purple;
}
.modal__content{
    background-color:#fff;
    padding: 10px;
    min-height: 400px;
    min-width: 600px;
}

.close-btn{
    border: none;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn:hover{
    background-color: rgba(0, 0, 0, 0.158)
}
</style>