<template>
  <div class="typeahead">
      <input type="text" v-model="query" :placeholder="placeholder" class="typeahead__input" @blur="onInputBlur" @focus="showResults = true" />
      <ul class="typeahead__suggestions-list" v-show="showResults && searchResults.length">
          <li class="typeahead__suggestions-list-item" v-for="(result,index) in searchResults" :key="index" @click="onResultClick(result)">
              {{result.label}}
          </li>
      </ul>
  </div>
</template>

<script>
export default {
    props:{
        placeholder: {
            type: String,
            default: ""
        },
        list: {
            type: Array,
            default: () => []
        }
    },
    data(){
        return{
            query: '',
            results: [],
            showResults: false
        }
    },
    computed:{
        searchResults(){
            if(!this.query || this.query.length < 1) return []
            const results = [];
            for(let itemIndex in this.list){
                if(this.list[itemIndex].toLowerCase().includes(this.query.toLowerCase()) && results.length < 11){
                    results.push({label : this.list[itemIndex], index : itemIndex})
                }
            }
            return results
        }
    },
    methods:{
        onInputBlur(){
            setTimeout(() =>{
                this.showResults = false
            }, 200)
        },
        onResultClick(result){
            this.showResults = false
            this.query = result.label
            this.$emit('selected', result.index)
        }
    }
}
</script>

<style>
.typeahead__input{
    height:30px;
    font-size:18px;
    font-weight: 400;
    padding: 10px;
}
.typeahead {
    display:flex;
    flex-direction:column;
    position: relative;
}

.typeahead__suggestions-list{
    position:absolute;
    border: 1px solid black;
    border-top: none;
    width: 100%;
    top:30px;
    list-style: none;
    border-radius: 0 0 5px 5px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
}

.typeahead__suggestions-list-item{
    padding: 10px;
    line-height: 1rem;
    font-size: 1rem;
    text-align: left;
    transition: all .3s ;
}

.typeahead__suggestions-list-item:not(:first-child){
    border-top: 1px solid grey;
}

.typeahead__suggestions-list-item:hover{
    background-color: #eee;
    cursor: pointer;
}
</style>