<template>
    <div class="list">
            <div class="list__item" v-for="(user, index) in users" :key="index">
                <span> {{ user.name }}</span>
                <span>
                    <button class="button" @click="$emit('view', index)">Show details</button>
                    <button class="button" @click="$emit('remove', index)">Remove</button>
                </span>
            </div>
    </div>
</template>

<script>
export default {
    props:{
        users:{
            type: Array,
            default: () => []
        }
    }
}
</script>

<style scoped>
.list{
    display:flex;
    flex-direction:column;
    overflow-y: auto;
    max-height: 350px;
}

.list__item{
    display: grid;
    grid-template-columns: 1fr auto;
    text-align:left;
    padding: 10px;
}

.list__item:hover{
    background-color: #eee;
    cursor: pointer;
}

.button{
    padding: 6px;
    border:none;
    background-color: #c1ed22;
    border-radius: 5px;
    margin: 0 5px;
    border: 1px solid transparent;
}

.button:hover{
    cursor: pointer;
    border: 1px solid purple;
}
</style>