<template>
    <div v-if="user">
        <div class="details">
            <p> <strong>Name: </strong> {{ user.name }} </p>
            <p> <strong>Email: </strong> {{ user.email }} </p>
            <p> <strong>Phone: </strong> {{ user.phone }} </p>
        </div>

        <div class="details">
            <h3>Organization Details</h3>
            <br>
            <p> <strong>Name: </strong> {{ user.organization.name }} </p>
            <p> <strong>Url: </strong> {{ user.organization.url }} </p>
            <p> <strong>Domain names: </strong> 
                    
                   
            </p>
            <ul class="list">
                    <li v-for="domain in user.organization.domain_names" :key="domain">
                        {{ domain }}
                    </li>    
                </ul>     
        </div>

        <div class="details">
            <h3>Assigned Tickets</h3>
            <br>
            <table class="table details" >
                <thead>
                    <th>#</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Status</th>
                </thead>
                <tbody>

                    <tr v-for="(ticket,index) in user.tickets.assigned" :key="ticket._id">
                        <td>{{index +1}}</td>
                        <td>{{ticket.subject}}</td>
                        <td>{{ticket.description}}</td>
                        <td>{{ticket.status}}</td>

                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</template>

<script>
export default {
    props: {
        user:{
            type: Object,

        }
    }
}
</script>

<style scoped>
.list{
    margin-left: 25px;
}
.details{
    margin: 15px;
}
.table{
    max-width: 760px;
    
    border: 1px solid black;
}
.table, td{
    padding: 10px 5px;
}
tr{
    border-bottom: 1px solid black;
}
</style>