<template>
  <div id="app">
    <div class="container">
      <h1>Select Users</h1>
      <br>
      <TypeAhead placeholder="Enter query" :list="userNames" @selected="onUserSelected"/>
      <UsersList :users="selectedUsers" @remove="removeSelectedUser" @view="viewSelectedUser"/>
    </div>

    <Modal v-if="showModal" @close="showModal = false" title="User Details">

      <UserDetails :user="user" />
    </Modal>
  </div>
</template>

<script>
import TypeAhead from './components/TypeAhead.vue'
import UsersList from './components/UsersList.vue'
import Modal from './components/Modal.vue'
import UserDetails from './components/UserDetails.vue'

import usersListJSON from './data/users.json'
import organizationsJSON from './data/organizations.json'
import ticketsJSON from './data/tickets.json'
export default {
  name: 'App',
  components: {
    TypeAhead,
    UsersList,
    Modal,
    UserDetails,
  },
  data(){
    return {
      usersListJSON,
      organizationsJSON,
      ticketsJSON,
      user: {},
      selectedUsers:[],
      showModal: false,
    }
  },
  computed:{
    userNames(){
      return this.usersListJSON.map(user => user.name)
    }
  },
  watch:{
    user:{
      handler: 'fetchUserDetails'
    }
  },
  methods:{
    onUserSelected(index){
      const user = this.usersListJSON[index]
      this.user = user
      this.addUserToSelectedList(user)
    },
    removeSelectedUser(index){
      this.selectedUsers.splice(index, 1)
    },
    viewSelectedUser(index){
      // console.log({index});
      this.showModal= true
      this.user = this.selectedUsers[index]
    },
    addUserToSelectedList(user){
      const currentIndex = this.selectedUsers.find((currentUser) => currentUser._id == user._id)
      if(currentIndex == undefined )
        this.selectedUsers.push(user)
    },
    fetchUserDetails(){
      this.user.tickets = {
        submitted: [],
        assigned: []
      }
      for(let org of organizationsJSON){
        if(this.user.organization_id == org._id){
          this.user.organization = org
          break;
        }
      }

      for(let ticket of ticketsJSON){
        if(this.user._id == ticket.submitter_id)
          this.user.tickets.submitted.push(ticket)
          
        if(this.user._id == ticket.assignee_id)
          this.user.tickets.assigned.push(ticket)
      }
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Varela Round', sans-serif;
}

#app{

  height:100vh;
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: 450px;
  border-radius: 5px;
  border: 1px solid orangered;
  padding:10px;
  width: 600px;
}
</style>
